//var
$gray: #727272;
$black: #414141;
$white: #f6f6f6;
$blue: #33c1e3;
$red: #e85f61;

// Layout
//@import "_misc/jqscrollbar";

@import "../plugins/font-awesome";
@import "_misc/fonts";
@import "_misc/mixins";
@import "_misc/normalize";
@import "_misc/adjustment";
@import "_misc/jquery.scrollbar";
@import "_misc/slick.scss";
@import "_misc/slick-theme.scss";


 


// Styles
@import "sections/header";
@import "sections/content";
@import "sections/welcome";
@import "sections/career";
@import "sections/portfolio";
@import "sections/comments";
@import "sections/footer";

