@font-face{font-family:HelveticaNeueBlack;src:local("HelveticaNeueBlack"),
url(../fonts/HelveticaNeueBlack.otf);font-weight:normal;font-style:normal;}
@font-face{font-family:HelveticaNeueBold;src:local("HelveticaNeueBold"),
url(../fonts/HelveticaNeueBold.otf);font-weight:normal;font-style:normal;}
@font-face{font-family:HelveticaNeueHeavy;src:local("HelveticaNeueHeavy"),
url(../fonts/HelveticaNeueHeavy.otf);font-weight:normal;font-style:normal;}
@font-face{font-family:HelveticaNeueLight;src:local("HelveticaNeueLight"),
url(../fonts/HelveticaNeueLight.otf);font-weight:normal;font-style:normal;}
@font-face{font-family:HelveticaNeueMedium;src:local("HelveticaNeueMedium"),
url(../fonts/HelveticaNeueMedium.otf);font-weight:normal;font-style:normal;}
@font-face{font-family:HelveticaNeueThin;src:local("HelveticaNeueThin"),
url(../fonts/HelveticaNeueThin.otf);font-weight:normal;font-style:normal;}
@font-face{font-family:HelveticaNeueUltraLight;src:local("HelveticaNeueUltraLight"),
url(../fonts/HelveticaNeueUltraLight.otf);font-weight:normal;font-style:normal;}
body{font-size:100%;color:#353535;background:url(../images/body.png) no-repeat center center #fff;background-size:cover;}
h1, h2, h3, h4{font-weight:normal;margin:0;text-align:left;}
img{max-width:100%;}
a{text-decoration:none;}
.mid{height:auto;margin:0 auto;padding:0;width:960px;z-index:53;}
.midh{height:80px;margin:0 auto;padding:0;width:1070px;}
.sect3 .bx-pager-link{background-color:#dbe4cf !important;}
.nadl{position:absolute;width:100%;background:url(../images/bodyback.png) no-repeat center center transparent;background-size:cover;height:7297px;z-index:3;margin-top:578px;}
header{position:fixed;background:url(../images/header.png);width:100%;height:80px;z-index:99999;text-align:center;z-index:888;}
header ul{padding:0;margin:0;text-align:center;}
header ul li{text-align:left;display:inline-block;vertical-align:top;font-family:'HelveticaNeueMedium';font-size:14px;font-weight:200;padding-top:25px;}
header ul li a{color:black;}
header ul li:first-child{padding-right:44px;}
header ul li:nth-child(2){padding-right:38px;}
header ul li:nth-child(3){padding-right:41px;}
header ul li:nth-child(4){padding-right:42px;}
header ul li:nth-child(5){padding-right:39px;}
header ul li:nth-child(6){padding-right:25px;}
header ul li:nth-child(7){padding-right:25px;}
.buttpop{display:block;color:white;font-size:14px;transition:0.4s;border-radius:50px;padding:10px 25px;margin-top:14px;font-family:'HelveticaNeueLight';}
header ul li:last-child{text-align:center;background:#fff;color:black;font-size:24px;font-weight:700;padding:25px 23px 25px 20px;}
#s1{background:url(../images/1block.png) no-repeat center transparent;position:relative;width:100%;height:1021px;background-size:cover;}
#s2{background:transparent;position:relative;width:100%;height:946px;z-index:50;}
.slider{width:100%; position: relative; z-index: 50;}
.zag{}
h2.sec2{padding:15px 0 44px 0;}
.zag h2{font-family:'HelveticaNeueThin';font-size:48px;width:100%;text-align:center;z-index:53;margin:0;text-transform:uppercase;}
.wh{color:#fff;}
.bl{color:#111;}
.abz{margin:0 auto;width:812px;z-index:50;}
.abz p{width:100%;font-family:'HelveticaNeueLight';font-size:24px;text-align:center;padding:0;margin-top:69px;}
.knopka{width:960px;text-align:center;margin-top:93px;z-index:50;position:absolute;}
.zakaz{font-family:'HelveticaNeueLight';padding:15px 45px;font-size:24px;color:#fff;border-radius:50px;transition:0.4s;text-transform:uppercase;}
.cher{border:1px solid white;padding:14px 45px;background:#f15728;}
.cher:hover{background:#de3400;}
.zel{background:#87cb2f;}
.zel:hover{background:#75b029;}
.blo2{color:#fff;}
.blo4{color:#fff;}
.blo6{color:#fff;}
#s3{background:url(../images/block3.png) no-repeat center;position:relative;width:100%;height:1303px;background-size:cover;}
h2.sec3{padding:185px 0 44px 0;}
#s4{background:transparent;position:relative;width:100%;height:984px;background-size:cover;z-index:50;}
h2.sec4{padding:31px 0 44px 0;}
#s5{background:url(../images/block5.png) no-repeat center;position:relative;width:100%;height:1303px;background-size:cover;}
h2.sec5{padding:190px 0 44px 0;}
#s6{background:transparent;position:relative;width:100%;height:1072px;background-size:cover;z-index:50;}
h2.sec6{padding:83px 0 44px 0;}
#s7{background:url(../images/block7.png) no-repeat center;position:relative;width:100%;height:1303px;background-size:cover;}
#s8{background:url(../images/footer.png) no-repeat center;width:100%;height:961px;background-size:cover;margin-top:-115px;z-index:1;}
.footer{width:100%;height:200px;position:relative;top:761px;background:url(../images/footback.png);}
.cont{padding-top:150px;float:left;width:400px;padding-left:10px;}
.cont ul li{display:inline-block;}
.cont ul{margin:0;padding:0;}
.cont li{padding-right:21px;}
.cont p{font-family:'HelveticaNeueMedium';font-size:24px;color:#fff;}
.cont p span{font-family:'HelveticaNeueLight';font-size:45px;display:block;margin-bottom:25px;}
.forma{text-align:center;float:right;width:399px;background:url(../images/forma.png) no-repeat;margin-top:91px;height:590px;margin-right:10px;}
.forma input{background:#fff;font-family:'HelveticaNeueLight';font-style:italic;font-size:18px;padding-left:18px;padding-top:15px;padding-bottom:15px;width:73%;outline:none;transition:0.4s;border:2px solid #fff;border-radius:4px;margin-bottom:29px;}
.forma input:focus{border:2px solid #87cb2f;}
.forma button{border:none;font-family:'HelveticaNeueLight';padding:15px 34px;font-size:24px;color:#fff;border-radius:50px;transition:0.4s;text-transform:uppercase;background:#87cb2f;outline:none;cursor:pointer;margin-top:22px;}
.forma button:hover{background:#75b029;}
.forma p{color:white;font-size:30px;text-transform:uppercase;font-family:'HelveticaNeueLight';text-align:left;padding:58px 54px 53px 37px;margin:0;line-height:1.1;}
input::-webkit-input-placeholder{color:#c1c1c1;}
input::-moz-placeholder{color:#c1c1c1;}
input:-moz-placeholder{color:#c1c1c1;}
input:-ms-input-placeholder{color:#c1c1c1;}
#s1 .forma{margin-top:-358px;}
.logof{margin-top:61px;margin-left:10px;position:absolute;float:left;height:69px;width:214px;}
.footp{width:960px;color:white;position:absolute;margin-top:93px;text-align:right;font-family:'HelveticaNeueLight';}
.logoh{float:left;margin-top:-440px;}
#s1 .logoh h1{width:550px;color:white;font-size:37px;text-transform:uppercase;font-family:'HelveticaNeueMedium';}
.logoh p {font-family:'HelveticaNeueMedium';font-size: 21px;color: white;}
.logoh a {color: white;}
.white-popup{padding:10px;width:auto;max-width:399px;margin:20px auto;text-align:center;background-position:center center;}
.mfp-fade.mfp-bg{opacity:0;-webkit-transition:all 0.15s ease-out;-moz-transition:all 0.15s ease-out;transition:all 0.15s ease-out;}
.mfp-fade.mfp-bg.mfp-ready{opacity:0.8;}
.mfp-fade.mfp-bg.mfp-removing{opacity:0;}
.mfp-fade.mfp-wrap .mfp-content{opacity:0;-webkit-transition:all 0.15s ease-out;-moz-transition:all 0.15s ease-out;transition:all 0.15s ease-out;}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content{opacity:1;}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content{opacity:0;}
.formpop{text-align:center;width:399px;background:url(../images/forma.png) no-repeat;background-position:center center;margin-top:91px;margin-bottom: 91px;height:590px;margin-right:10px;}
.formpop input{background:#fff;font-family:'HelveticaNeueLight';font-style:italic;font-size:18px;padding-left:18px;padding-top:15px;padding-bottom:15px;width:73%;outline:none;transition:0.4s;border:2px solid #fff;border-radius:4px;margin-bottom:29px;}
.formpop input:focus{border:2px solid #87cb2f;}
.formpop button{border:none;font-family:'HelveticaNeueLight';padding:15px 34px;font-size:24px;color:#fff;border-radius:50px;transition:0.4s;text-transform:uppercase;background:#87cb2f;outline:none;cursor:pointer;margin-top:22px;}
.formpop button:hover{background:#75b029;}
.formpop p{color:white;font-size:30px;text-transform:uppercase;font-family:'HelveticaNeueLight';text-align:left;padding:45px 54px 53px 37px;margin:0;line-height:1.1;}
.none{display:none;}
.clearfix:before, .clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
@media screen and (max-width:980px){header ul li:first-child{padding-right:34px;}
header ul li:nth-child(2){padding-right:28px;}
header ul li:nth-child(3){padding-right:31px;}
header ul li:nth-child(4){padding-right:32px;}
header ul li:nth-child(5){padding-right:29px;}
header ul li:nth-child(6){padding-right:15px;}
header ul li:nth-child(7){padding-right:15px;}
header ul{margin-left:-75px;}
}
@media screen and (max-width:768px){header ul li:first-child{padding-right:24px;}
header ul li:nth-child(2){padding-right:18px;}
header ul li:nth-child(3){padding-right:21px;}
header ul li:nth-child(4){padding-right:22px;}
header ul li:nth-child(5){padding-right:19px;}
header ul li:nth-child(6){padding-right:15px;}
header ul li:nth-child(7){padding-right:15px;}
header ul{margin-left:-100px;}
}