@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    font-size: 18px;
    font-weight: 400;
    color: #121212;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
    background: #fff;
    font-variant: small-caps;
    overflow-x: hidden;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h2 {
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #0083a6;
}

h3 {
    color: #2c2c2c;
    font-variant: small-caps;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

section{
    padding: 40px 0;
}

.header {
    padding: 15px 0;
}

.red_btn {
    font-size: 20px;
    color: #fff;
    background: #f6705a;
    border-radius: 50px;
}

.red_btn:hover {
    color: #fff;
    transform: scale(1.05);
}

.centered_text{
    text-align: center;
}

.horizontal_mirror{
    transform: scale(-1, 1);
}

.phone {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
}

.phone a, .phone a:hover{
    color: #7c7c7c;
    text-decoration: none;
}

.hours {
    color: #7c7c7c;
    text-align: right;
}

.navigation {
    background: #33ade3;
    padding: 10px 0;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
}

.navigation .nav-link {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}

.navigation .nav-link:hover, .navigation .nav-link.active{
    color: #fff;
    text-decoration: underline;
}

.mobile_menu .nav-link {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

.mobile_menu .nav-link:hover, .mobile_menu .nav-link.active{
    color: #fff;
    text-decoration: underline;
}

.mobile_menu .phone {
    text-align: left;
}

.mobile_menu .phone a, .phone a:hover{
    color: #fff;
}

.mobile_menu .hours {
    color: #fff;
    text-align: left;
}

.slider_item {
    padding: 10px 0;
    padding-bottom: 60px;
}

.slider_item h2, .slider_item h1 {
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    color: #fff;
}

.mt10{
    margin-top: 10px;
}

.slider_item1 {
    background: url(../img/slide_1.png) no-repeat top center / cover;
}

.slider_item2 {
    background: url(../img/slider_2.png) no-repeat top center / cover;
}

.slider_item3 {
    background: url(../img/slider_3.png) no-repeat top center / cover;
}

.form {
    background: #0083a6;
    border-radius: 10px;
    padding: 15px 30px;
}

.form h3{
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-weight: 900;
    font-size: 26px;
    color: #fff;
    margin-bottom: 0;
}

.form p {
    color: #9fc6d7;
    font-size: 16px;
}

.input {
    -webkit-box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.3);
    padding: 10px 15px;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-radius: 50px;
}

.input_file {
    color: #9fc6d7;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form p.accept {
    font-size: 12px;
    color: #9fc6d7;
    margin-top: 15px;
}

.full_width {
    width: 100%;
}

.slider_item li, .slide_text {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.offer .carousel-indicators{
    bottom: 40px;
}

.offer .carousel-indicators li{
    width: 12px;
    height: 12px;
    background: #fff;
    border: 3px solid #fff;
    border-radius: 50%;
    opacity: 1;
}

.offer .carousel-indicators .active{
    background: #0083a6;
}

.blue_line{
    background: #0083a6;
    height: 2px;
    width: 100%;
    margin-bottom: 10px;
}

.cathalog {
    padding-bottom: 40px;
}

.cat_item {
    display: flex;
    align-items: center;
    border: 1px solid #aaa;
    margin-top: 20px;
    padding: 5px 10px;
    padding-left: 5px;
    height: 70px;
}

.cat_item:hover{
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,131,166,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,131,166,1);
    box-shadow: 0px 0px 15px 0px rgba(0,131,166,1);
}

.cat_item_name {
    text-transform: capitalize;
    margin-left: 10px;
    font-variant: small-caps;
}

.cat_item img {
    min-width: 50px;
}

.empty_img{
    width: 50px;
    min-width: 50px;
}

.about {
    background: url(../img/about.png) no-repeat top right;
    padding-top: 10px;
    padding-bottom: 40px;    
}

.about h2 {
    color: #fff;
}

.about p {
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-variant: small-caps;
}

.white_line {
    width: 100%;
    height: 2px;
    background: #fff;
    margin-bottom: 30px;
}

.zahvat {
    padding: 40px 0;
}

.consult_title {
    text-align: center;
    color: #0083a6;
    font-size: 26px;
    font-weight: 900;
    font-family: 'Arial', sans-serif;
}

.form_arrow{
    position: relative;
}

.form_arrow:before{
    content: '';
    background: url(../img/arrow.png) no-repeat center center / contain;
    position: absolute;
    width: 183px;
    height: 146px;
    bottom: 0;
    left: -153px;
}

.oplata {
    padding-bottom: 40px;
}

.oplata h3 {
    color: #2c2c2c;
    font-variant: small-caps;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

.pay, .delivery {
    color: #2c2c2c;
    font-variant: small-caps;
    text-align: center;
    margin-top: 20px;
}

.pay {
    background: url(../img/pay.png) no-repeat center center / contain;
}

.delivery {
    background: url(../img/delivery.png) no-repeat center center / contain;
}

.otzivi {
    background: linear-gradient(to left, rgba(0, 131, 166, 1), rgba(0, 131, 166, .3));
    padding: 20px 0;
    padding-bottom: 50px;
    position: relative;
    overflow-x: hidden;
}

.otzivi h2 {
    color: #fff;
}

.otziv {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.otziv p {
    color: #2c2c2c;
    text-align: center;
    font-variant: small-caps;
    margin-top: 20px;
}

.otziv_btn {
    width: 100%;
    max-width: 220px;
    font-variant: small-caps;
    border-radius: 15px;
    font-size: 17px;
}

.otzivi .carousel-indicators{
    bottom: -50px;
}

.otzivi .carousel-indicators li{
    width: 12px;
    height: 12px;
    background: #fff;
    border: 3px solid #fff;
    border-radius: 50%;
    opacity: 1;
}

.otzivi .carousel-indicators .active{
    background: #0083a6;
}

.like {
    position: absolute;
    bottom: -50px;
    width: 455px;
    height: 485px;
    right: -435px;
}

.zamena {
    padding: 30px 0;
}

.types {
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(to right, rgba(0, 131, 166, 1), rgba(0, 131, 166, .3));
    color: #fff;
}

.types h2{
    color: #fff;
}

.type {
    display: flex;
    margin-bottom: 20px;
}

.type_img {
    display: block;
    height: 300px;
    /*max-width: 139px;*/
    min-width: 300px;
    margin-right: 20px;
}

.types h3 {
    font-size: 20px;
    margin-top: 0;
    text-align: left;
    color: #fff;
    margin-bottom: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.contacts{
    padding-bottom: 40px;
}

.contact {
    display: flex;
    margin-top: 20px;
}

.contact img {
    min-width: 39px;
    max-height: 39px;
    margin-right: 10px;
}

.contact h3{
    font-weight: 700;
    text-align: left;
}

.contact a, .contact a:hover {
    color: #121212;
    text-decoration: none;
}

.footer {
    background: linear-gradient(to left, rgba(0, 131, 166, 1), rgba(0, 131, 166, .3));
    padding: 20px 0;
}

.footer .nav-link {
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
    padding-top: 0;
    padding-bottom: 10px;
}

.footer_tel {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
}

.footer_tel a, .footer_tel a:hover {
    color: #fff;
    text-decoration: none;
}

.footer_hours {
    color: #fff;
    text-align: right;
}

.footer_line {
    height: 1px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.5);
}

.copy {
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.copy a, .copy a:hover {
    color: #fff;
}

.single_offer {
    background: linear-gradient(to left, rgba(0, 131, 166, 1), rgba(0, 131, 166, .3));
    padding-bottom: 0;
    padding-top: 20px;
}

.mt40{
    margin-top: 40px;
}

.problems {
    padding: 40px 0;
}

.problem {
    padding: 15px;
    padding-bottom: 20px;
    background: #fff;
    margin-top: 40px;
    position: relative;
}

.problem:after{
    content: '';
    background: url(../img/alert.png) no-repeat center center / contain;
    width: 48px;
    height: 50px;
    position: absolute;
    top: -20px;
    right: -10px;
}

.problem h3 {
    font-family: 'Arial', sans-serif;
    font-weight: 900;
    font-size: 20px;
    margin-top: 0;
}

.price {
    color: #f6705a;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.shadow_block{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.why {
    background: linear-gradient(to right, rgba(0, 131, 166, 1), rgba(0, 131, 166, .3));
    padding-top: 20px;
    padding-bottom: 40px;
}

.why h2 {
    color: #fff;
}

.mt20{
    margin-top: 20px;
}

.reasons {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.reasons p {
    color: #fff;
    text-align: center;
    font-weight: 900;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    margin-top: 0;
    padding-bottom: 20px;
}

.why h3 {
    color: #fff;
    text-align: center;
    font-weight: 900;
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.docs {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 0;
    padding-top: 20px;
}

.docs p {
    color: #045970;
    text-align: center;
    font-weight: 900;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    margin-top: 0;
    padding-bottom: 20px;
    margin-top: 10px;
}

.recomend {
    padding: 40px 0;
}

.why_we {

}

.why_we h3 {
    text-align: left;
    font-weight: 700;
}

.video {
    width: 100%;
    height: 400px;
}

.polomki {
    background: linear-gradient(to right, rgba(0, 131, 166, 1), rgba(0, 131, 166, .3));
    color: #fff;
}

.polomki h2 {
    color: #fff;
}

.polomki h3 {
    font-weight: 700;
    text-align: left;
    color: #fff;
    font-size: 22px;
}

.skupka_img {
    display: block;
    margin: 0 auto;
    margin-bottom: -150px;
}

.mb40 {
    margin-bottom: 40px;
}

.prichina {
    font-family: 'Arial', sans-serif;
    font-weight: 900;
    text-align: center;
}

.to_left {
    background: linear-gradient(to left, rgba(0, 131, 166, 1), rgba(0, 131, 166, .3));
}

.to_right {
    background: linear-gradient(to right, rgba(0, 131, 166, 1), rgba(0, 131, 166, .3));
}

.to_left h2, .to_left h3, .to_right h2, .to_right h3{
    color: #fff;
    text-align: left;
}

.badge {
    border-radius: 15px;
}

.red_num{
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    font-weight: 900;
    margin-right: 15px;
}

.white_badge{
    color: #03657f;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Arial', sans-serif;
    padding: 10px;
    padding-left: 15px;
    border-radius: 20px;
}


.cat_link, .cat_link:hover {
    color: #121212;
    text-decoration: none;
}

.tovari {

}

.cathalog_btn {
    border: 1px solid #484848;
    color: #484848;
    font-size: 18px;
    padding: 15px;
    width: 240px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cathalog_btn i {
    font-size: 30px;
}

.cathalog_btn.active, .cathalog_btn:hover {
    background: #0083a6;
    color: #fff;
}

#modal_cathalog .modal-content{
    border: 4px solid #0083a6;
}

.t_count {
    font-weight: 700;
}

.tovar_card {
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    min-height: 360px;
    justify-content: space-between;
    flex-direction: column;
    color: #343434;
}

.tovar_card a, .tovar_card a:hover{
    color: #343434;
    text-decoration: underline;
}
.tovar_card-img{
	width: 100%;
	margin: 0px auto;
	height: 150px;
	min-height: 150px;
	overflow: hidden;
	text-align: center;
	margin-bottom: 20px;
}
.tovar_card img{
	  max-height: 100%;
    max-width: 100%;
    margin: 0px auto 0px auto;
    object-fit: inherit;
}

.sum {
    font-size: 30px;
    font-weight: 700;
}

.buy_btn {
    width: 125px;
    font-variant: small-caps;
}

.red_text, .red_text:hover {
    color: #ff574a;
}

#modal_details .modal-body {
    color: #343434;
}

.datel_name {
    font-size: 30px;    
}

.order_form {
    background: #f0f0f0;
    padding: 20px 10px;
    border-radius: 15px;
    text-align: center;
}

.is_now {
    font-size: 16px;
}

.avaliable{
    color: #027902;
}

#modal_details .nav-link {
    color: #0083a6;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Arial' ,sans-serif;
}

#modal_details .nav-link:hover, #modal_details .nav-link.active {
    color: #343434;
    background: none;
}

#modal_details a, #modal_details a:hover {
    color: #343434;
    text-decoration: underline;
}

.right_text {
    text-align: right;
}

.p404 {
    padding: 100px 0;
    text-align: center;
}

.p404 p {
    font-size: 32px;
}

.p404 h1 {
    color: #000;
}

.btn_190{
    width: 190px;
}

.thanks {
    padding: 100px 0;
    text-align: center;
}
.thanks h1 {
    color: #0083a6;
}

.on_mobile{
    display: none;
}

.ham_btn {
    margin: 0 auto;
    width: 30px;
    height: 25px;
    position: relative;
    cursor: pointer;
}

.ham_line1, .ham_line2, .ham_line3 {
    width: 30px;
    height: 5px;
    background: #fff;
    position: absolute;
    left: 0;
    transition: all .5s;
}

.ham_line{

}

.ham_line1{
    top: 0;    
}

.active_hl1{
    top: 10px; 
    transform: rotate(45deg);
}

.ham_line2{
    top: 10px;      
}

.active_hl2{
    transform: rotate(-45deg);
}
.ham_line3{
    top: 20px;    
}

.active_hl3{
    opacity: 0;    
}

.mobile_menu.active{
    left: 0;
}

.mobile_menu {
    width: 250px;    
    height: 100vh;
    padding: 20px;
    position: fixed;
    top: 0px;
    left: -300px;
    transition: all 1s;
    background: linear-gradient(to left, rgba(0, 131, 166, 1), rgba(0, 131, 166, .8));
    z-index: 100;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.18);
}

#callback .modal-content {
    background: #0083a6;
}

.on_small {
    display: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}



@media screen and (max-width: 1199.8px) {
    .navigation .nav-link {
        font-size: 14px;
    }
}

@media screen and (max-width: 991.8px) {
    .not_on_mobile {
        display: none;
    }
    .on_mobile{
        display: block;
    }
    .phone {
        font-size: 18px;
    }
    .footer_tel {
        font-size: 16px;
    }
    .footer_hours {
        font-size: 13px;
    }
    .footer .nav-link, .copy {
        font-size: 14px;
    }
    .about{
        background: linear-gradient(to right, rgba(0, 131, 166, 1), rgba(0, 131, 166, .3));
    }
    .skupka_img {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 767.8px) {
    h1{
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
    }
    body{
        font-size: 14px;
    }
    .haract {
        font-size: 16px;
    }
    .datel_name{
        font-size: 24px;
    }
    .p404 p {
        font-size: 20px;
    }
    .step_ttl{
        font-size: 24px;
        line-height: 20px;
    }
    .step_num{
        font-size: 50px;
        line-height: 50px;
    }
    .faq_border {
        padding: 20px;
        border-radius: 30px;
    }
    .admin, .you {
        width: 90%;
        margin-bottom: 20px;
    }
    .slider_item li, .slide_text {
        font-size: 20px;
        margin-top: 20px;
    }
    .slider_item {
        background: linear-gradient(to left, rgba(0, 131, 166, 1), rgba(0, 131, 166, .3));
    }
    .slider_item h2, .slider_item h1 {
        font-size: 26px;
    }
    .offer {
        padding-bottom: 20px;
    }
    .red_num{
        font-size: 15px;
        margin-right: 5px;
    }

    .white_badge{
        font-size: 14px;
        white-space: normal;
        text-align: left;
    }
    .video {
        height: 300px;
    }
    .on_small {
        display: block;
    }
    .hiden_block{
        display: none;
    }
    .like{
        display: none;
    }
}

@media screen and (max-width: 575.8px) {
    .type {
        flex-direction: column;
        text-align: center;
    }
    .type h3 {
        text-align: center;
    }
    .type_img {
        display: block;
        height: 139px;
        max-width: 139px;
        min-width: 139px;
        margin: 0 auto;
    }
}

.wash_machin {
    background: url(../img/wash.png) no-repeat center center;
    position: relative;
    width: 231px;
    height: 281px;
    margin: 0 auto;
    margin-top: 60px;
}

.point {
    background: url(../img/point.png) no-repeat center center;
    width: 25px;
    height: 25px;
    position: absolute;
    cursor: pointer;
}

#nabor {
    top: -10px;
    left: 40px;
}

#indik{
    top: 0;
    left: 70px;
}

#prog {
    top: 10px;
    right: 30%;
}

#baraban {
    top: 60%;
    right: 30%;
}

#sliv {
    top: 85%;
    right: 30%;
}

#uhod {
    top: 78%;
    left: 5px;
}

#open {
    top: 50%;
    left: 5px;
}

#porosh {
    top: 30px;
    left: 0;
}

.rem_label {
    position: absolute;
    background: #fff;
    border: 1px #2c2c2c solid;
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 16px;
    width: auto;
    white-space: nowrap;
}

.rem_label.active {
    background: #f6705a;
    color: #fff;
}

#label_nabor {
    top: -50px;
    left: -40px;
}

#label_indik{
    top: -30px;
    left: 100%;
}

#label_prog {
    top: 40px;
    left: 110%;
}

#label_baraban {
    top: 140px;
    left: 110%;
}

#label_sliv {
    top: 240px;
    left: 110%;
}

#label_uhod {
    top: 78%;
    left: -150px;
}

#label_open {
    top: 45%;
    left: -200px;    
}

#label_porosh {
    top: 30px;
    left: -200px;
}