.portfolio{
	@include tablets{
		text-align: center;
	}
}

.portfolio-content{
	margin-bottom: rem(20px);
}
.portfolio__list{
	margin-left: rem(-20px);
	font-size: 0;
	@include phones{
	margin: 0 auto;
}
}

.portfolio__item{
	width: rem(220px);
	@include box-shadow(0 1px 3px 0 rgba(#000, .2));
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	font-size: rem(14px);
	margin-left: rem(20px);
	margin-top: rem(20px);
	display: inline-block;
	vertical-align: top;
	
		*{
			font-size: rem(14px);
		}
		@include phones{
			display: block;
			width: 300px;
			margin-left: auto;
			margin-right: auto;
		}
}
.portfolio_pic-img{	
    display: block;
    max-width: 100%;
}
.portfolio__link{
	text-decoration: none;
	
	&:hover .portfolio__title{
		color: $red;


	}
}
.portfolio__desc{
	padding: rem(20px);
}
.portfolio__title{
	@include fira();
	font-size: rem(21px);
	color: $blue;
	transition: all .2s;

}
.portfolio__work-desc{
	@include fira(light);
	color: $black;
	margin-bottom: rem(15px);
}
.portfolio__type{
	@include fira();
	color: #aeaeae;
	.fa{
		margin-right: rem(5px);
		font-size: rem(18px);
	}
}
.portfolio_pic-bg{
	background-position: 50% 0;
	background-size: cover;
	height: rem(175px);
}